<main>
  <h1 style="text-align: center; margin-top: 3rem;">
    Stwórz listę zakupów
  </h1>
  <section style="width: 100%; display: flex; flex-direction: column; justify-content: center; align-items: center;">
    <form action="" style="width: 50%;">
      <div class="form-group" style="margin-top: 1rem;">
        <label style="font-size: 1.5rem;" for="">Tytuł</label>
        <input [(ngModel)]="header" type="text" name="header" class="form-control" placeholder="Zakupy na środę">
      </div>
      <div class="form-group" style="margin-top: 1rem;">
        <label style="font-size: 1.5rem;" for="">Lista zakupów (co produkt "enter")</label>
        <textarea [(ngModel)]="list" class="form-control" name="list" cols="10" rows="10" placeholder="Sos pomidorowy&#10;Orzehy&#10;Woda&#10;Sos pomidorowy&#10;Orzehy&#10;Woda&#10;Sos pomidorowy&#10;Orzehy&#10;Woda"></textarea>
      </div>
      <div class="form-group" style="margin-top: 1rem;">
        <label style="font-size: 1.5rem;" for="">Data zakupów</label>
        <input [(ngModel)]="date" class="form-control" type="date" name="date" id="">
      </div>
      <div class="form-group" style="margin-top: 1rem;">
        <label style="font-size: 1.5rem;" for="">Priorytet</label>
        <select class="form-control" [(ngModel)]="prio" name="prio" id="prio">
          <option value="Krytyczny">Krytyczny</option>
          <option value="Średni">Średni</option>
          <option value="Mały">Mały</option>
        </select>
      </div>
      <div class="form-group" style="margin-top: 1rem;">
        <label style="font-size: 1.5rem;" for="">Osoba</label>
        <br>
        <input [(ngModel)]="person" type="radio" name="names-group" value="Maniek" id="">
        <label style="margin-left: .5rem;" for="">Maniek</label>
        <br>
        <input [(ngModel)]="person" type="radio" name="names-group" value="Krzychulec" id="">
        <label style="margin-left: .5rem;" for="">Krzychulec</label>
        <br>
        <input [(ngModel)]="person" type="radio" name="names-group" value="Tomisław" id="">
        <label style="margin-left: .5rem;" for="">Tomisław</label>
        <br>
        <input [(ngModel)]="person" type="radio" name="names-group" value="Zdzisiek" id="">
        <label style="margin-left: .5rem;" for="">Zdzisiek</label>
      </div>
      <button (click)="onSubmit()" type="button" class="btn btn-primary" style="margin-top: 1.5rem;">Dodaj zakupy</button>
    </form>
  </section>

  <section style="width: 100%; display: flex; flex-direction: column; justify-content: center; align-items: center;">
    <div style="width: 50%;">
      <h2 style="margin-top: 3rem;">Lista list zakupów</h2>
      <div style="border: 1px solid black; border-radius: 10px; margin-top: 1rem; padding: .5rem;" *ngFor="let _list of lists">
        <div>
          <h3>
            {{_list.header}}
          </h3>
          <h6>
            {{_list.date}}
          </h6>
          <h5>
            {{_list.prio}}
          </h5>
          <h4>
            {{_list.person}}
          </h4>
          <ul *ngFor="let item of _list.list;">
            <li>{{item}}</li>
          </ul>
        </div>
      </div>
    </div>
  </section>
</main>